@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {font-family: Arial, sans-serif;
  background-color: #38505e;
        }
        .header {
            background-color: #4a484f;
            padding: 20px;
            text-align: center;
        }
        .logo {
            color: #ffffff;
            text-decoration: none;
            font-size: 24px;
        }
        .navbar {
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }
        .navbar a {
            color: #ffffff;
            text-decoration: none;
            padding: 8px 16px;
            transition: background-color 0.3s;
        }
        .navbar a:hover {
            background-color: rgb(28, 51, 178);
        }
        .divfinal {
            display: flex;
            justify-content: center;
        }
        .divprincipal {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #55474d;
            padding: 20px;
            border-radius: 10px;
        }
        .me {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .imagem-redonda {
            border-radius: 50%;
            padding: 5px;
            background-color: #ddd;
        }
        .texto {
            padding: 20px;
            text-align: justify;
        }
        .div1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img2 {
            padding: 10px;
            width: 50px;
            height: 50px;
        }
        .lixo {
            color: #ffffff;
        }