@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: rgb(114, 100, 127);
    color: rgb(255, 255, 255);
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .bord {
    background-color: rgb(58, 210, 244);
    color: black;
    border: 0px solid black;
    padding: 70px;
  
  }

  .imagem-redonda {
    border-radius: 100%;
  }
  .class3{
	background-color: rgb(114, 100, 127);
    color: rgb(255, 255, 255);
    border: 0px solid black;
    padding: 70px;


  }

.class5{
  background-color: rgb(19, 95, 112);
  color: black;
  border: 0px solid black;
  padding: 70px;


}
a{
  text-decoration-line: none;
  color: rgb(12, 11, 11);
}
.td{
  background-color:rgb(194, 113, 245);
  text-decoration: none;
  color: rgb(255, 255, 255);
border: 2px solid rgb(84, 13, 86);
margin: 20px;
padding: 20px;
}
.button {
  transition-duration: 0.4s;
  
}
*{
  text-decoration: none;
  
}
.button {
  background-color: #102112; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 26px;
}
.divcent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img2{
  width: 85px;
height: 85px;
border-radius: 50%;
}
@-webkit-keyframes spinning {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  50% {
    transform: rotate(325deg);
    -webkit-transform: rotate(325deg);
  }
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@-webkit-keyframes translating {
  0% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

div{
  -webkit-animation: translating 8s infinite;
}